{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Build and deploy a web interface to 2 to 5 of the static code analysis.<br>Cpp Check<br>Pixy<br>PMD<br>FlawFinder<br>Rats<br>PHP Sat<br><br>
Allow user to register and authenticate.<br><br>Submit code to be analyzed and retrive results<br><br>Understand HTTP(S), protocol, (cookies), sessions, 
How web browsers (Client) work, and web server work. Inspect HTTP messages<br><br>Use web software tools.<br><br>

{% endblock %}
